<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
  href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <title>{% block title %} {% endblock %}</title>
</head>
<body>
  <div class="container">
    {% if get_flashed_messages() %}
      {% for msg in get_flashed_messages() %}
        <div>{{msg}}</div>
      {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
</div>
</body>
</html>